body {
  font-family: sans-serif;
}

#menu-column > ul {
  list-style: none;
}

.dashed {
  border: dashed 2px black;
}

#login-column {
  text-align: right;
}

.jumbo-content {
  margin: 0 auto;
  min-height: 500px;
}

.riga {
  min-height: 600px;
}

.riga-big {
  min-height: 1000px;
}

#riga-footer {
  width: 100%;
  margin: auto;
}

#jumbotron {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
}

#star {
  background-image: url("../img/stars.svg");
  margin: 50px 0; 
  font-size: 35px;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 50px;
  margin-bottom: 20px;

}

#flag {
  height: 16px;
}
