body {
  font-family: sans-serif;
}

#menu-column > ul {
  list-style: none;
}

.dashed {
  border: dashed 2px black;
}

#login-column {
  text-align: right;
}

.jumbo-content {
  margin: 0 auto;
  min-height: 500px;
}

.riga {
  min-height: 600px;
}

.riga-big {
  min-height: 1000px;
}

#riga-footer {
  width: 100%;
  margin: auto;
}

#logo-column {
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

#jumbotron {
  background-image: url('../img/jumbo.png');
  background-size: cover;
}

#item1{
  background-image: url('../img/item1.svg');
}

#item2{
  background-image: url('../img/item2.svg');
}

#item3{
  background-image: url('../img/item3.svg');
}

#item4{
  background-image: url('../img/item4-big.svg');
  width:1000px;
  height:600px;
  background-size: cover;
}

#star {
  background-image: url('../img/stars.svg');
  background-size: 100%;
  
}

#flag {
  height: 16px;
}
